---
import Layout from "../layouts/Layout.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { data } = Astro.props;
---

<Layout>
  <main class="bg-beige-500 p-10">
    <h1 class="text-center font-titles text-4xl capitalize">{data.heading}</h1>
    <p class="mt-4 text-center font-paragraphs text-lg lg:mx-auto lg:w-3/4">
      {data.description}
    </p>
    <div class="text-center">
      <ButtonWhatsApp bgColor="bg-lime_green-600" />
    </div>
  </main>
</Layout>
