---
import Layout from "../layouts/Layout.astro";
import TourCard from "../components/TourCard.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
const { tours } = Astro.props;
---

<Layout>
  <main class="bg-dark_cyan-500 pb-10 pt-5">
    <div class="py-10 text-center">
      <h2
        class="border-dashed border-yellow-500 font-titles inline-block leading-normal ml-4 text-2xl text-yellow-500 tracking-wide uppercase sm:text-4xl"
      >
        nuestros tours
      </h2>
    </div>
    <section>
      <div class="container mx-auto px-4 lg:w-11/12">
        <div class="flex flex-wrap -mx-4">
          {tours.map((tour) => <TourCard tour={tour} />)}
        </div>
      </div>
    </section>
    <div class="pt-10 text-center">
      <ButtonWhatsApp bgColor="bg-yellow-500" />
    </div>
  </main>
</Layout>
