---
import Layout from "../layouts/Layout.astro";
import TourCard from "../components/TourCard.astro";
import ButtonWhatsApp from "../components/ButtonWhatsApp.astro";
let { tours, indexTitle } = Astro.props;
// Assuming each tour object has a 'priority' property
tours = tours.sort((a, b) => a.data.priority - b.data.priority);
---

<Layout>
  <main class="bg-dark_cyan-500 pb-10 pt-5">
    <div class="py-10 text-center">
      <h1
        class="ml-4 inline-block border-dashed border-yellow-500 font-titles text-2xl capitalize leading-normal tracking-wide text-yellow-500 sm:text-5xl"
      >
        {indexTitle}
      </h1>
    </div>
    <section>
      <div class="container mx-auto px-4 lg:w-11/12">
        <div class="-mx-4 flex flex-wrap">
          {tours.map((tour) => <TourCard tour={tour} />)}
        </div>
      </div>
    </section>
    <div class="pt-10 text-center">
      <ButtonWhatsApp bgColor="bg-yellow-500" />
    </div>
  </main>
</Layout>
