---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const pageData = await getCollection("tours", ({ id }) => id.startsWith("es/"));
console.log(pageData);
---

<Layout>
  <h1>404</h1>
  <p>Page not found</p>
</Layout>
