---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
import { Image } from "astro:assets";
const { tour } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<div class="mb-5 w-full px-4 md:w-1/2 xl:w-1/4">
  <div class="flex h-full flex-col bg-soft_yellow-500 p-3">
    <div>
      <Image
        src={tour.data.card.image.src}
        alt="tour"
        widths={[240, 540, 720, Number(tour.data.card.image.src.width)]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Number(
          tour.data.card.image.src.width,
        )}px`}
        class="w-full object-cover"
      />
    </div>
    <div
      class="flex h-full flex-col justify-between bg-background_cyan-500 p-5"
    >
      <h3 class="font-paragraphs text-2xl font-extrabold uppercase text-white">
        {tour.data.card.title}
      </h3>
      <p class="mt-4 leading-snug text-white">
        {tour.data.card.paragraph}
      </p>
      <a
        href={getRelativeLocaleUrl(lang, tour.data.card.button_link)}
        class="mt-5 inline-block w-fit rounded-lg bg-yellow-500 px-4 py-2 font-paragraphs font-medium uppercase"
      >
        {tour.data.card.button_text}
      </a>
    </div>
  </div>
</div>
