---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<style is:global>
  @font-face {
    font-family: "THICCCBOI";
    src: url("/fonts/THICCCBOI-ThicccAF.woff2") format("woff2");
    font-weight: bold;
  }

  @font-face {
    font-family: "Montserrat-VariableFont";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
  }
</style>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="font-paragraphs">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
