---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

// fonts // Supports weights 100-900
import '@fontsource-variable/montserrat';
// Supports weights 100-900
import '@fontsource-variable/outfit';
// Supports weights 100-900
import '@fontsource-variable/raleway';
---

<style is:global>
  @font-face {
    font-family: 'MADE Soulmaze Italic';
    src: url('/fonts/MADESoulmaze-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'MADE Soulmaze';
    src: url('/fonts/MADESoulmaze.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

  @font-face {
    font-family: 'EQALI';
    src: url('/fonts/EQUALI.woff2') format('woff2');
    font-weight: bold;
    
}


@font-face {
    font-family: "THICCCBOI";
    src: url("/fonts/THICCCBOI-ThicccAF.woff2") format("woff2");
    font-weight: bold;
  }

@font-face {
    font-family: "HURDEY";
    src: url("/fonts/HURDEIRegular.woff2") format("woff2");
    font-weight: bold;
  }

@font-face {
    font-family: "THICCCBOI Medium";
    src: url("/fonts/THICCCBOI-Medium.woff2") format("woff2");
    font-weight: bold;
  }

  @font-face {
    font-family: "Montserrat-VariableFont";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
  }
  @font-face {
    font-family: "PROVICALI";
    src: url("/fonts/Provicali.woff2") format("woff2");
  }

  .font-titles {
    @apply tracking-wider;
  }


</style>


<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <ViewTransitions />
  </head>
  <body class="font-paragraphs">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
